html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #374046;
}

.container {
    height: 100%;
}

.content-wrapper {
    border-radius: 4px;
    overflow: hidden;
    padding: 0 !important;
    background-size: 100%;
    background-position-y: 10%;
    position: relative;
}

.menu-btn {
    height: 50px;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}

.menu-icon {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.player-content {
    padding: 50px 0 40px !important;
}

img.cover {
    width: 200px;
    height: 200px;
}

.about {
    position: relative;
    height: 200px;
}

.about h1 {
    line-height: 50%;
    font-size: 30px;
}

.about h2 {
    font-size: 15px;
}

.player-controller {
    padding: 10px 0 !important;
    position: absolute;
    bottom: 0;
    border-radius: 2px;
}

#prev,
#play,
#next {
    display: block !important;
}

#prev > i,
#play > i,
#next > i {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

#play > i {
    left: 0;
    margin-top: -27px;
}

#next > i {
    left: 0;
}

#pause_icon {
    display: none;
}

.player-footer {
}

.info-btn {
    padding: 20px 40px;
}

.circle {
    display: block;
    width: 25px;
    height: 25px;
    border: 3px solid white;
}